.container__title__Diseño {
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.title__Diseño {
  font-size: 2rem;
  color: var(--Almost-Blue);
}

.images__container {
  margin: 0 auto;
  width: 90%;
  height: 0 auto;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.item {
  height: 40rem;
  max-width: 30rem;
  padding: 2rem;
  cursor: grab;
}

.item img {
  height: 100%;
  width: 100%;
  pointer-events: none; /*no deja seleccionar y mover la sola images*/
}

@media (min-width: 768px) {
  .slider__container {
    width: 768px;
    height: auto;
  }
}

@media (min-width: 1440px) {
  .slider__container {
    width: 1440px;
    height: auto;
  }
}
