@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --Almost-White: hsl(0, 0%, 98%);
  --Medium-Gray: hsl(0, 0%, 41%);
  --slass-Gray: hsl(0, 0%, 73%);
  --Almost-Black: hsl(0, 0%, 8%);
  --Almost-Blue: hsl(239, 36%, 34%);
  --Almost-Blue-M: hsla(238, 36%, 34%, 0.396);
}

html {
  font-size: 70.5%;
}

body {
  font-size: 1.6rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: darkgray;
}
